.header {
  text-decoration: none;
  box-shadow: none;
  color: inherit;
}

.layout {
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer {
  font-size: 1rem;
}